:root {
    --burnt-orange: #E36920;
    --amber: #EFA710;
    --champagne: #E8D4C0;
    --scallop-seashell: #DCAD90;
    --red-orange: #FC2E20;
    --underliner: rgba(61,61,60,0.2);
    --darker-night: rgba(0, 0, 0, 0.6);   
}
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}
body { 
    background-color: var(--champagne);
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif; 
    font-size: 2em;
    margin: 0;
}

nav {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background: url('./images/jimmy-dean.jpg');
}

#nav-brandname{
    position: absolute;
    left: 0;
    margin-left: 2em;
    color: var(--amber);
    font-weight: bolder;
}

nav a {
    color: var(--amber);
    margin: 1em 2em;
    border: none;
    background-color: inherit;
    font-weight: bolder;
    text-decoration: none;
}

#main {
    color: var(--burnt-orange);
    padding-top: 2em;
}

#content__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 2em;

}

#content___title h5{
    color: var(--red-orange);
}

#vietnam-flag {
    max-width: 3em;
    max-height: 3em;
}

#content__subtitle {
    margin: auto 4em;
}

#restaurant-contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 2em;
}

#restaurant-contact__sb {
    margin: auto 12em;
}

#store-fl-box{
    display: flex;
    flex-basis: 50%;
}

.store-fl-box-item{
    padding: 3em;
}


#menu-bg{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

#food-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    padding: 2em 5em;
}

.food-group{
    font-size: 1em;
    font-weight: bold;
}

.food-group div {
    font-weight: lighter;
}

.menu-item {
    font-size: .6em;
    margin-bottom: 1em;
}

.menu_item__name{
    display: grid;
    grid-template-columns: max-content 1fr max-content; 
    grid-column-gap: .5em;
}

.underline {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 1rem;
    background-color: var(--underliner);
}

.menu-item:first-child {
    margin-top: .5em;
}

.menu-item:last-child {
    margin-bottom: 1.5em;
}

footer {
    height: 3em;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: url('./images/dan-gold.jpeg');
}

/* Media queries */
/* Mobile: width < 740px */
@media only screen and (max-width: 74em){
    html {
        font-size: 6px;
    }
    #food-menu{
        grid-template-columns: 1fr;
    }
    #restaurant-contact__sb {
        margin: auto 2em;
    }
    #store-fl-box{
        flex-flow: row wrap;
    }

}   
/* Tablet: 740px <= width < 1024px */
@media only screen and (min-width:74em) and (max-width:102.4em){
    html{
        font-size: 10px;
    }
}