:root {
    --burnt-orange: #E36920;
    --amber: #EFA710;
    --champagne: #E8D4C0;
    --scallop-seashell: #DCAD90;
    --red-orange: #FC2E20;
    --underliner: rgba(61,61,60,0.2);
    --darker-night: rgba(0, 0, 0, 0.6);   
}
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
::placeholder{
    color: var(--scallop-seashell);
}
html {
    font-size: 10px;
    font-family: 'M PLUS 1', sans-serif;
}
body { 
    background-color: var(--champagne);
    font-size: 2em;
    margin: 0;
}

.fixed-nav{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px rgb(0 0 0 / 20%);
}

nav {
    background: var(--scallop-seashell);
    top: 0;
    width: 100%;
    transition:all 0.5s;
    position: relative;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--amber);
}
nav a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: var(--burnt-orange);
    transition: all 0.2s;
    text-transform: uppercase;
}
li#nav-brandname {
    max-width: 0;
    overflow: hidden;
    background: var(--burnt-orange);
    transition: all 0.5s;
    font-weight: 600;
}
.fixed-nav li#nav-brandname {
    max-width: 400px;
}

#main {
    color: var(--scallop-seashell);
    height: 100vh;
    background-image: url('../images/sanwa-limbu.jpg');
    background-size: cover;
    background-position: top center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#homepage{
    text-align: center;
}

#homepage__title{
    margin: auto 0%;
    letter-spacing: .2em;
    font-size: 2em;
    border-top: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;

}

#contactpage{
    border: 2px dashed var(--amber);
    margin: auto 30%;
    text-align: center;
    padding: 0 10px;
}
#order-title{
    font-size: 1.5em;
    font-family: 'Comfortaa', cursive;
    padding: 1% 0;
}
.order-input-style{
    border: 4px solid var(--amber);
    outline: 2px solid var(--amber);
    outline-offset: 2px;	
    margin: 4% auto;
    color: var(--scallop-seashell);
}

input, select{
    width: 100%;
    background-color: inherit;
    text-align: center;
}

#order-confirm-btn-style{
    border: 4px solid var(--    );
    outline: 2px solid var(--amber);
    outline-offset: 2px;
    max-width: 40%;
    margin: 2% 30%;
    background-color: var(--scallop-seashell);
    color: var(--burnt-orange);
    font-weight: bolder;
}

#menu-bg{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

#food-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    padding: 2em 5em;
    border: 2px dashed var(--amber);
}

.food-group{
    font-size: 1em;
    font-weight: bold;
}

.menu-item {
    font-size: .6em;
    margin-bottom: 1em;
}

.menu_item__name{
    display: grid;
    grid-template-columns: max-content 1fr max-content; 
    grid-column-gap: .5em;
}

.menu_item__description{
    font-style: oblique;
    font-weight: 400;
}

.underline {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 1rem;
    background-color: var(--underliner);
}

.menu-item:first-child {
    margin-top: .5em;
}

.menu-item:last-child {
    margin-bottom: 1.5em;
}

#order-now{
    padding-top: 5%;
    font-size: 2.5em;
    font-style: oblique;
    text-shadow: 5px 5px 2px var(--scallop-seashell);
}

footer {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--scallop-seashell);
    color: var(--burnt-orange);
}

#footer__faq{
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
}

#footer__faq div {
    font-size: .5em;
}

#social-list {
    min-width: 5em;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    column-gap: 2em;
}

/* Media queries */
/* Mobile: width < 740px */
@media only screen and (max-width: 74em){
    html {
        font-size: 6px;
    }
    #food-menu{
        grid-template-columns: 1fr;
    }
    #restaurant-contact__sb {
        margin: auto 2em;
    }
    #store-fl-box{
        flex-flow: row wrap;
    }
}  

/* Tablet: 740px <= width < 1024px */
@media only screen and (min-width:74em) and (max-width:102.4em){
    html{
        font-size: 10px;
    }
}

/* Animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#food-menu, #homepage, #contactpage{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}